/* MEGAMENU STYLE
=================================*/
nav.bootsnav .dropdown.megamenu-fw {
    position: static;
}

nav.bootsnav .container {
    position: relative;
}

nav.bootsnav .megamenu-fw .dropdown-menu {
    left: auto;
}

nav.bootsnav .megamenu-content {
    padding: 15px;
    width: 100% !important;
}

nav.bootsnav .megamenu-content .title{
    margin: 20px 10px 15px 10px;
    color: #56ab2f;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #dddfe6;
    padding-bottom: 15px;
}

nav.bootsnav .dropdown.megamenu-fw .dropdown-menu {
    left: 0;
    right: 0;
}

/* Navbar
=================================*/
nav.navbar.bootsnav{
    margin-bottom: 0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
    z-index: 998;
	background:rgba(255, 255, 255, 0);
	min-height: 40px;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}

nav.navbar.bootsnav.navbar-gradient ul.nav > li > a, nav.navbar.bootsnav.navbar-gradient .attr-nav > ul > li > a{
  color:#fff;
}

nav.navbar.bootsnav.no-border{
	border-bottom: none;
}

nav.navbar.bootsnav.navbar-transparent.no-border .attr-nav{
	border-left: none;
}

nav.navbar.bootsnav.dark {
	background-color:#212121;
	border-bottom: 0;
}

nav.navbar.bootsnav ul.nav > li > a{
    color: rgba(255, 255, 255, 0.7);
    background-color: transparent;
    outline: none;
    margin-bottom: -2px;
    font-size: 16px;
	font-weight: 400;
    letter-spacing: 1px;
}

nav.navbar.bootsnav ul.nav > li > a.active{background-color:#fff;color:#fff;}

nav.navbar.bootsnav.dark ul.nav > li > a, nav.navbar.bootsnav.dark .attr-nav > ul > li > a{
	color:#fff!important;
}

nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover,
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:focus,
nav.navbar.bootsnav ul.nav li.active > a:hover,
nav.navbar.bootsnav ul.nav li.active > a:focus,
nav.navbar.bootsnav ul.nav li.active > a{
    background-color: transparent;
    color:#fff;
}

nav.navbar.bootsnav .navbar-toggle{
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 24px;
    position: relative;
    top: 5px;
	color:#212121;
}

nav.navbar.bootsnav.dark .navbar-toggle{
	color:#fff;
}

nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu{
    top: 0;
    left: 100%;
}

nav.navbar.bootsnav ul.nav ul.dropdown-menu > li > a{
    white-space:normal;
}

.nav-onepage.navbar.bootsnav .navbar-toggle {
	background:transparent;
}

/* Navbar Full
=================================*/
nav.bootsnav.navbar-full{
    padding-bottom: 10px;
    padding-top: 10px;
}

nav.bootsnav.navbar-full .navbar-header{
    display: block;
    width: 100%;
}

nav.bootsnav.navbar-full .navbar-toggle{
    display: inline-block;
    margin-right: 0;
    position: relative;
    top: 0;
    font-size: 30px;
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

nav.bootsnav.navbar-full .navbar-collapse{
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    padding: 0;
    display: none !important;
    z-index: 9;
}

nav.bootsnav.navbar-full .navbar-collapse.in{
    display: block !important;
}

nav.bootsnav.navbar-full .navbar-collapse .nav-full{
    overflow: auto;
}

nav.bootsnav.navbar-full .navbar-collapse .wrap-full-menu{
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(30, 192, 255, 0.9);
    overflow: hidden;
}

nav.bootsnav.navbar-full .navbar-collapse .nav-full::-webkit-scrollbar {
    width: 0;
}

nav.bootsnav.navbar-full .navbar-collapse .nav-full::-moz-scrollbar {
    width: 0;
}

nav.bootsnav.navbar-full .navbar-collapse .nav-full::-ms-scrollbar {
    width: 0;
}

nav.bootsnav.navbar-full .navbar-collapse .nav-full::-o-scrollbar {
    width: 0;
}


nav.bootsnav.navbar-full .navbar-collapse ul.nav{
    display: block;
    width: 100%;
    overflow: auto;
}

nav.bootsnav.navbar-full .navbar-collapse ul.nav a:hover,
nav.bootsnav.navbar-full .navbar-collapse ul.nav a:focus,
nav.bootsnav.navbar-full .navbar-collapse ul.nav a{
    background-color: transparent;
}

nav.bootsnav.navbar-full .navbar-collapse ul.nav > li{
    float: none;
    display: block;
    text-align: center;
}

nav.bootsnav.navbar-full .navbar-collapse ul.nav > li > a{
    display: table;
    margin: auto;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
    padding: 10px 15px;
}

li.close-full-menu > a{
    padding-top: 0px;
    padding-bottom: 0px;
}

li.close-full-menu{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Transparent
=================================*/
nav.navbar.bootsnav.navbar-fixed{
    position: fixed;
    display: block;
    width: 100%;
    height:66px;
    background-color: rgba(34, 47, 98, 0.02);
}

nav.navbar.bootsnav.no-background{
    -webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

/* Navbar Sticky
=================================*/
.wrap-sticky{
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.wrap-sticky nav.navbar.bootsnav{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}

.wrap-sticky nav.navbar.bootsnav.sticked{
    position: fixed;
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

body.on-side .wrap-sticky nav.navbar.bootsnav.sticked{
    left: -280px;
}
#navbar-menu li a:hover{
    color:#ffffff ;
}
.dropdown-menu a:hover{
    color:#FFE17F !important;
}
.logo{
        display: inline-block!important;
        width: 163px !important;
        height: 26px !important;
        background-image: url("../../images/logo.png");
        background-repeat: no-repeat;
        margin-top: 20px;
}
.logo:hover{
    background-image: url("../../images/logo-hover.png");
    background-repeat: no-repeat;
}
nav .logo > a{
    width: 163px;
    height: 26px;
}

/* Navbar Responsive
=================================*/
@media (min-width: 1024px) and (max-width:1400px) {
    body.wrap-nav-sidebar .wrapper .container{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1024px) {
    /* General Navbar
    =================================*/
    nav.navbar.bootsnav ul.nav .dropdown-menu .dropdown-menu{
        margin-top: -1px;
    }

    nav.navbar.bootsnav ul.nav.navbar-right .dropdown-menu .dropdown-menu{
        right: -200px;
    }

    nav.navbar.bootsnav ul.nav > li > a{
        padding: 23px 15px;
    }

    #navbar-menu>ul>li:nth-child(3)>a{
        padding-right: 0;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
        -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        -o-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        width: 180px;
        background: rgba(25, 35, 53, 0.85);
        left: 15px;
		border: 0;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
        padding: 24px 24px;
        line-height: 0;
        color: #ffffff;
		font-size: 14px;
    }

    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a{
        text-align: left;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
        font-family: 'icofont';
        float: right;
        content: "\eb79";
        margin-top: 0;
    }

    nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:before{
        font-family: 'icofont';
        float: right;
        content: "\eb79";
        margin-top: 0;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu ul.dropdown-menu{
        top: 1px;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content{
        padding: 0 15px !important;
		margin-top: -2px;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content.tabbed{
        padding: 0;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content.tabbed > li{
        padding: 0;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu{
        padding: 0 30px;
        margin: 0 -0.5px;
        border-left: solid 1px #dddfe6;
        border-right:1px solid #dddfe6;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu:first-child{
        border-left: none;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu:last-child{
        border-right: none;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content{
        display: none;
    }

    nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a{
        text-align: left;
        padding: 10px;
        display: block;
        width: 100%;
        margin-bottom: 0;
        border-bottom: none;
        color: #757575;
		font-size: 12px;
    }

	nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover{
        color: #212121;
    }


    nav.navbar.bootsnav.on ul.dropdown-menu.megamenu-content .content{
        display: block !important;
        height: auto !important;
    }

    /* Navbar Transparent
    =================================*/
    nav.navbar.bootsnav.no-background{
        background-color: transparent;
        border: none;
    }

	nav.navbar.bootsnav.navbar-transparent .attr-nav {
		height: 80px;
		-webkit-transition: all .3s ease;
		transition: all .3s ease;
		display: table;
		position: relative;
	}

    nav.navbar.bootsnav.navbar-transparent.white, nav.navbar.bootsnav.navbar-transparent.dark{
        background:transparent;
        height:66px;
		box-shadow: none;
    }

    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark,
    nav.navbar.bootsnav.navbar-transparent.dark{
        border-bottom: solid 1px rgba(158, 158, 158, 0.2);
    }

    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav{
        border-left: solid 1px rgba(158, 158, 158, 0.2);
    }

    nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a,
    nav.navbar.bootsnav.no-background.white ul.nav > li > a,
	nav.navbar.bootsnav.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a,
    nav.navbar.bootsnav.no-background.dark ul.nav > li > a
	{
		padding-top: 23px;
    	padding-bottom: 23px;
    }

    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a{
        color: #212121!important;
    }

    nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-scrolled,
    nav.navbar.bootsnav.navbar-fixed.no-background .logo-scrolled{
        opacity: 0;
    	height: 0;
    }

    nav.navbar.bootsnav.navbar-fixed.navbar-transparent .logo-display,
    nav.navbar.bootsnav.navbar-fixed.no-background .logo-display{
        opacity: 1;
    	height: auto;
    }

    nav.navbar.bootsnav.navbar-fixed .logo-display{
        opacity: 0;
    	height: 0;
    }

    nav.navbar.bootsnav.navbar-fixed .logo-scrolled{
        opacity: 1;
    	height: auto;
    }
}

@media (max-width: 1023px){
    nav.navbar.bootsnav.menu-center ul.nav.navbar-center{
        float:right;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }  
    #navbar-menu>ul>li:nth-child(3)>a{
        padding-right: 0;
    }  
}

@media (max-width: 992px) {
    /* Navbar Responsive
    =================================*/
    nav.navbar.bootsnav .navbar-brand    {
        display: inline-block;
        float: none !important;
        margin: 0 !important;
    }

    nav.navbar.bootsnav .navbar-header {
        float: left;
        display: block;
    }

    nav.navbar.bootsnav li.dropdown.on > a.dropdown-toggle:before{
        content: "\f3d0";
    }

    nav.navbar.bootsnav .navbar-nav > li > a{
        display: block;
        width: 100%;
        border-bottom: solid 1px #e0e0e0;
        padding: 10px 0;
        margin-bottom: 0px;
    }

    nav.navbar.bootsnav .navbar-nav > li:first-child > a{
        border-top: none;
    }

    nav.navbar.bootsnav ul.navbar-nav.navbar-left > li:last-child > ul.dropdown-menu{
        border-bottom: solid 1px #e0e0e0;
    }

    nav.navbar.bootsnav ul.nav li.dropdown li a.dropdown-toggle{
        float: none !important;
        position: relative;
        display: block;
        width: 100%;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu li a:hover,
    nav.navbar.bootsnav ul.nav ul.dropdown-menu li a:focus{
        background-color: transparent;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu ul.dropdown-menu{
        float: none !important;
        left: 0;
        padding: 0 0 0 15px;
        position: relative;
        background: transparent;
        width: 100%;
    }

    nav.navbar.bootsnav ul.nav ul.dropdown-menu li.dropdown.on > ul.dropdown-menu{
        display: inline-block;
        margin-top: -10px;
    }

    nav.navbar.bootsnav li.dropdown ul.dropdown-menu li.dropdown > a.dropdown-toggle:after{
        display: none;
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title{
        padding: 10px 15px 10px 0;
        line-height: 24px;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0px;
        margin-bottom: 0;
        cursor: pointer;
        border-bottom: solid 1px #e0e0e0;
        color: #6f6f6f;
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu ul > li > a{
        display: block;
        width: 100%;
        border-bottom: solid 1px #e0e0e0;
        padding: 8px 0;
    }

   nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title:before{
        font-family: "Ionicons";
        content: "\f3d3";
        float: right;
        font-size: 16px;
        margin-left: 10px;
       position: relative;
       right: -15px;
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu:last-child .title{
        border-bottom: none;
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu.on:last-child .title{
        border-bottom: solid 1px #e0e0e0;
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu:last-child ul.menu-col li:last-child a{
        border-bottom: none;
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu.on .title:before{
        content: "\f3d0";
    }

    nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .content{
        padding: 0 0 0 15px;
    }

    nav.bootsnav.brand-center .navbar-collapse{
        display: block;
    }

    nav.bootsnav.brand-center ul.nav{
        margin-bottom: 0px !important;
    }

    nav.bootsnav.brand-center .navbar-collapse .col-half{
        width: 100%;
        float: none;
        display: block;
    }

    nav.bootsnav.brand-center .navbar-collapse .col-half.left{
        margin-bottom: 0;
    }

    nav.bootsnav .megamenu-content{
        padding: 0;
    }

    nav.bootsnav .megamenu-content .col-menu{
        padding-bottom: 0;
    }

    nav.bootsnav .megamenu-content .title{
        cursor: pointer;
        display: block;
        padding: 10px 15px;
        margin-bottom: 0;
        font-weight: normal;
    }

    nav.bootsnav .megamenu-content .content{
        display: none;
    }

    /* Navbar Sidebar
    =================================*/
    nav.navbar.bootsnav.navbar-sidebar .share{
        padding: 30px 15px;
        margin-bottom: 0;
    }

    /* Mobile Navigation
    =================================*/
    body > .wrapper{
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    body.side-right > .wrapper{
        margin-left: 280px;
        margin-right: -280px !important;
    }

    nav.navbar.bootsnav.navbar-mobile .navbar-collapse{
        position: fixed;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        display: block;
        background: #fff;
        z-index: 99;
        width: 280px;
        height: 100% !important;
        left: -280px;
        top: 0;
        padding: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    nav.navbar.bootsnav.navbar-mobile .navbar-collapse.in{
        left: 0;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav{
        width: 293px;
        padding-right: 0;
        padding-left: 15px;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav > li > a{
        padding: 15px 15px;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu > li > a{
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title{
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a{
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }

    nav.navbar.bootsnav.navbar-mobile .navbar-collapse [class*=' col-'] {
        width: 100%;
    }

    nav.navbar.bootsnav.navbar-fixed .logo-scrolled{
        display: none !important;
    }

    nav.navbar.bootsnav.navbar-mobile .tab-menu,
    nav.navbar.bootsnav.navbar-mobile .tab-content{
        width: 100%;
        display: block;
    }

    nav.navbar.bootsnav.menu-center ul.nav.navbar-center{
        float:right;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
    nav.navbar.bootsnav ul.nav > li > a{
        padding: 20px 15px;
        border: none;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
        -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        -o-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -o-border-radius: 0px;
        border-radius: 0px;
        width: 180px;
        background: rgba(25, 35, 53, 0.85);
        left: 15px;
		border: 0;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
        padding: 24px 24px;
        line-height: 0;
        color: #ffffff;
		font-size: 14px;
    }
    nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        display: none;
    }
    nav.navbar.bootsnav.navbar-transparent.white, nav.navbar.bootsnav.navbar-transparent.dark{
        background: rgba(34, 47, 98, 0.85);
    }
    #navbar-menu>ul>li:nth-child(3)>a{
        padding-right: 0;
    }
    .logo{
        margin-top: 16.5px;
    }
    .navbar-nav>li>.dropdown-menu{
        margin-top: 0 !important;
    }

}

@media (max-width: 767px) {
    .attr-nav {
		right: 20px;
		width: 100px;
		height: 67px;
	}

    .attr-nav > ul{
        margin-right: -10px;
    }

    .attr-nav > ul > li > a{
        padding-left: 0 !important;
    }

    .attr-nav > ul > li.dropdown ul.dropdown-menu{
        left: -275px;
    }

    .top-search .container{
        padding: 0 15px;
    }

    nav.bootsnav.navbar-full .navbar-collapse{
        left: 15px;
    }

    nav.bootsnav.navbar-full .navbar-header{
        padding-right: 0;
    }

    nav.bootsnav.navbar-full .navbar-toggle {
        margin-right: -15px;
    }

    nav.bootsnav.navbar-full ul.nav > li > a{
        font-size: 18px !important;
        line-height: 24px !important;
        padding: 5px 10px !important;
    }

    /* Mobile Navigation
    =================================*/
    body.side-right > .wrapper{
        margin-left: 280px;
        margin-right: -280px !important;
    }

    nav.navbar.bootsnav.navbar-mobile .navbar-collapse{
        margin-left: 0;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav{
        margin-left: -15px;
    }

    nav.navbar.bootsnav.navbar-mobile ul.nav{
        border-top: solid 1px #fff;
    }

    li.close-full-menu{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .container{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    nav.navbar.bootsnav.navbar-fixed{
        background-color: rgba(255, 255,255, 0);
    }
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse{
        margin-right: 0;
        margin-left: 0;
    }
    nav.navbar.bootsnav .navbar-header{
        float: none;
        padding: 0 16px;
    }
    nav.navbar.bootsnav .navbar-toggle{
        display: inline-block;
        float: right;
        margin-right: 0;
    }
    nav.navbar.bootsnav .navbar-collapse.collapse{
        display: none;
    }
    nav.navbar.bootsnav.no-full .navbar-collapse{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .navbar-collapse{
        padding: 0;
        border-top: none;
    }
    nav.navbar.bootsnav .navbar-nav{
        float: none;
    }
    nav.navbar.bootsnav .navbar-nav > li{
        float: none;
        text-align: left;
    }
    nav.navbar.bootsnav .navbar-toggle{
        color:#ffffff;
        top: 0;
        z-index: 10;
    }
    nav.navbar.bootsnav.menu-center ul.nav.navbar-center{
        float: none;
        display: block;
        border-top: solid 1px rgba(255, 255, 255, 0.15);
        transition: all 0.3s ease-in-out;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu{
        width: 100%;
        position: relative;
        background-color: transparent;
        float: none;
        border: none;
        padding: 0 16px 0 16px;
        margin: 0 0 -1px 0;
        box-shadow: 0px 0px 0px;
        border-radius: 0px 0px 0px;
    }
    nav.navbar.bootsnav li.dropdown ul.dropdown-menu{
        left:0px;
    }
    nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu li{
        border-bottom: solid 1px rgba(28, 68, 96, 0.85);
    }
    .dropdown-menu{
        top:100%;
        left: 0;
        z-index: 1000;
        display: none;
        min-width: 160px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-clip: padding-box;
    }
    .collapse.in:before{
        content: "";
        background-color: rgba(34, 47, 98, 0.25);
        width: 110%;
        height: 52px;
      }
    nav.navbar.bootsnav .navbar-collapse.collapse.in{
        display: block;
        background-color: rgba(34, 47, 98, 0.7);
        position: relative;
        top: -52px;
    }
    nav.navbar.bootsnav ul.nav > li > a{
        margin-bottom: 0;
        border-color:none;
        border-bottom: solid 1px rgba(28, 68, 96, 0);
    }
    nav.navbar.bootsnav ul.nav > li:nth-child(3) > a{
        border-bottom: none;
    }
    nav.navbar.bootsnav ul.nav > li > a{
        padding: 20px 16px;
    }
    nav.navbar.bootsnav li.dropdown a.dropdown-toggle:before{
        font-family: "Ionicons";
        content: "\f3d3";
        float: right;
        font-size: 16px;
        margin-left: 10px;
        display: inline-block;
    }
    nav.navbar.bootsnav.navbar-fixed{
        background-color: rgba(34, 47, 98, 0.02);
    }
    .logo{
        display: inline-block!important;
        width: 125px !important;
        height: 19px !important;
        background-image: url("../../images/logo-phone.png");
        background-repeat: no-repeat;
        margin-top: 16.5px;
}
    .logo:hover{
        background-image: url("../../images/logo-phone-hover.png");
        background-repeat: no-repeat;
}
    nav .logo > a{
        width: 125px;
        height: 19px;
    }   
}

/* Side Menu
=================================*/

.side-menu-open {
  overflow: hidden !important;
}

.side-menu-nav {
  position: fixed;
  z-index: 101;
  top: 0;
  overflow: hidden;
  width: 22.25rem;
  height: 100%;
  color: #212121;
  background-color: #fff;
  padding: 20px;
}

.side-menu-brand {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.75rem;
  display: block;
  padding-right: .75rem;
  padding-left: .75rem;
  text-decoration: none;
  color: #212121;
  margin-top: 0px;
}

.side-menu-wrap {
  margin: 50px 0;
  padding: 0;
  list-style: none;
}

.side-menu-list-item {
  font-size: 16px;
  display: block;
  padding: .75rem;
  text-decoration: none;
  color: #757575;
}

.side-menu-list-item:hover, .side-menu-list-item:focus {
  color: #212121;
  background-color: transparent;
}

/*! overlay */

.side-menu-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
}

.side-menu-open .side-menu-overlay {
  display: block;
}

/*!------------------------------------*\
    Hamburger
\*!------------------------------------*/

.side-menu-hamburger {
    position: fixed;
    z-index: 104;
    top: 25px;
    display: block;
    box-sizing: content-box;
    width: 2.6rem;
    padding: 0;
    padding-top: 18px;
    padding-right: 1.75rem;
    padding-bottom: 31px;
    padding-left: 1.75rem;
    -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border: 0;
    outline: 0;
    background-color: #fff;
    margin-left: 25px;
	box-shadow: 2px 2px 29px 5px rgba(31, 31, 31, 0.07);
}

.side-menu-hamburger:hover {
  cursor: pointer;
  background-color: #fff;
}

.side-menu-hamburger-icon {
  position: relative;
  display: block;
  margin-top: 10px;
}

.side-menu-hamburger-icon,
.side-menu-hamburger-icon:before,
.side-menu-hamburger-icon:after {
  width: 100%;
  height: 2px;
  -webkit-transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  background-color: #222;
}

.side-menu-hamburger-icon:before,
.side-menu-hamburger-icon:after {
  position: absolute;
  top: -8px;
  left: 0;
  content: ' ';
}

.side-menu-hamburger-icon:after {
  top: 8px;
}

.side-menu-open .side-menu-hamburger-icon {
  background-color: transparent;
}

.side-menu-open .side-menu-hamburger-icon:before,
.side-menu-open .side-menu-hamburger-icon:after {
  top: 0;
}

.side-menu-open .side-menu-hamburger-icon:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.side-menu-open .side-menu-hamburger-icon:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*!------------------------------------*\
    Navbar
\*!------------------------------------*/

.side-menu-navbarTopGutter {
  padding-top: 3.75rem;
}

.side-menu-navbar .side-menu-navbar-header {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.side-menu-navbar {
  z-index: 102;
  top: 0;
  width: 100%;
}

/*! .side-menu-navbar modifier */

.side-menu-navbar--fixed {
  position: fixed;
}

.side-menu-navbar-header {
  position: relative;
  z-index: 102;
  box-sizing: border-box;
  width: 100%;
  height: 3.75rem;
  padding: 0 .75rem;
  text-align: center;
}

.side-menu-navbar .side-menu-brand {
  line-height: 3.75rem;
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
}

.side-menu-navbar .side-menu-brand:hover {
  background-color: transparent;
}

.side-menu-navbar .side-menu-nav {
  padding-top: 3.75rem;
}

.side-menu-navbar .side-menu-wrap {
  padding-bottom: 7.5rem;
}

/*!------------------------------------*\
    Dropdown
\*!------------------------------------*/

.side-menu-dropdown-menu {
  display: none;
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
  padding: 0;
  background-color: #fff;
}

.side-menu-dropdown-menu > li {
  width: 100%;
  list-style: none;
}

.side-menu-dropdown-menu-item {
  line-height: 3.75rem;
  display: block;
  padding: 0;
  padding-right: .75rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #757575;
}

.side-menu-dropdown-menu-item:hover {
  color: #212121;
  background-color: transparent;
}

/*! open */

.side-menu-dropdown.open > .side-menu-dropdown-menu {
  display: block;
}

@media (max-width: 1100px){
	nav.navbar.bootsnav.navbar-transparent.white, nav.navbar.bootsnav.navbar-transparent.dark{
		background: transparent;
    }
}
