.remove-padding{
    height: 100vh;
    width: 100%;
    top: 0;
}
.videoheight{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
    display: inline-block;
}
.vc_row-container-and-fluid{
    background:url('../../images/index-micshow.jpg');
    background-size:cover;
    background-position: right top;
    padding: 0;
}
.vc_row-container-and-fluid1{
    background:url('../../images/index-marry.jpg');
    background-size:cover;
    background-position: left center;
    padding: 0;
}
.vc_row-container-and-fluid2{
    background:url('../../images/index-Interaction.jpg');
    background-size:cover;
    background-position: center;
    padding: 0;
}
.vc_row-container-and-fluid>.container{
    padding: 184px 0 !important;
    background: linear-gradient(130deg, rgba(34, 47, 98, 0.85) 20%, transparent 60%);
    /*background-color: rgba(25,35,53,0.4);*/
}
.vc_row{
    margin-left: 0;
    margin-right: 0;
}
.line{
    display: inline-block;
    position: absolute;
    top:112px;
    left: 54px;
}
.line>h4{
    color: #FFDC8E;
    margin: 14px 0 10px 0;
    padding-left: 50px;
}
.scroll-line{
    transform: rotateZ(-90deg);
}
.scroll-line::before{
    background: linear-gradient(180deg,#fff5cd,#ffd07c);
}
.vc_column_container>.vc_column-inner{
    padding-left: 122px;
    padding-right: 0;
}
.wpb_wrapper>h2{
    color: #ffffff;
    margin: 0 0 22px 0;  
    line-height: 1.4;
}
.vc_custom_1510044300171 h4{
    color: #ffffff;
    line-height: 1.5;
    margin: 0 0 40px 0;
}
.vc_custom_1510044300171 h4 strong{
    color: #ffd07c;
    opacity: 0.93;
    line-height: 1.4;
    font-weight: 700;
}
.blod{
    color: #ffffff !important;
    opacity: 1 !important; 
    line-height: 1.5 !important;
    font-weight: 700;
}
.eltdf-btn{
    margin:47px 0 0;
}
.eltdf-btn.eltdf-btn-light-style,.eltdf-404-page .eltdf-btn.eltdf-btn-light-style:hover{
    color:#fff!important;
}
.eltdf-btn{
    white-space:nowrap;
}
.eltdf-btn,.eltdf-btn.eltdf-btn-simple .eltdf-btn-text{
    display:inline-block;
    vertical-align:middle;
}
.eltdf-btn{
    position:relative;
    width:auto;
    margin:0;
    font-size:14px;
    line-height:1.5;
    letter-spacing:.1em;
    outline:0;
    box-sizing:border-box;
    -webkit-transition:color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    transition:color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
    padding:14px;
    cursor:pointer;
}
.eltdf-btn.eltdf-btn-simple{
    padding:20px 20px 23px 20px;
    font-size:14px;
    background-color:transparent;
    color: #ffffff;
    border:0
}
.eltdf-btn.eltdf-btn-simple.eltdf-btn-small{
    padding:7px 13px 8px;
    font-size:11px;
}
.eltdf-btn.eltdf-btn-simple.eltdf-btn-small .eltdf-btn-cover{
    width:25px;
}
.eltdf-btn.eltdf-btn-simple.eltdf-btn-small:hover .eltdf-btn-cover{
    width:100%;
}
.eltdf-btn.eltdf-btn-simple.eltdf-btn-large{
    padding:19px 24px 20px;
    font-size:16px;
}
.eltdf-btn.eltdf-btn-simple.eltdf-btn-large .eltdf-btn-cover{
    width:40px;
}
.eltdf-btn.eltdf-btn-simple.eltdf-btn-large:hover .eltdf-btn-cover{
    width:100%;
}
.eltdf-btn.eltdf-btn-simple .eltdf-btn-cover{
    position:absolute;
    top:10%;
    left:0;
    width:51px;
    height:80%;
    margin:0;
    background-color:#ffd07c;
}
.eltdf-btn.eltdf-btn-simple:hover .eltdf-btn-cover,.eltdf-call-to-action-holder,.eltdf-call-to-action-holder.eltdf-normal-layout:not(.eltdf-content-in-grid) .eltdf-cta-inner,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-button-holder,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-text-holder{
    left:64%;
    opacity: 0;
    transition: all 0.6s 0s cubic-bezier(0.7, 0, 0.3, 1);
}
.eltdf-btn.eltdf-btn-simple:active .eltdf-btn-cover,.eltdf-call-to-action-holder,.eltdf-call-to-action-holder.eltdf-normal-layout:not(.eltdf-content-in-grid) .eltdf-cta-inner,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-button-holder,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-text-holder{
    left:0;
    width:100%;
    opacity: 1;
    transition:none;
}
.eltdf-btn.eltdf-btn-simple>:not(.eltdf-btn-cover){
    position:relative;
    z-index:1;
}
.eltdf-btn.eltdf-btn-simple:not(.eltdf-btn-custom-hover-color):hover{
    color:#000!important;
}
.eltdf-btn.eltdf-btn-simple:not(.eltdf-btn-custom-hover-bg):hover{
    background-color:transparent!important;
}
.eltdf-btn.eltdf-btn-simple:not(.eltdf-btn-custom-border-hover):hover{
    border-color:transparent!important;
}
.eltdf-btn.eltdf-btn-small{
    padding:9px 14px
}
eltdf-btn.eltdf-btn-large{
    padding:14px 24px
}
.eltdf-btn.eltdf-btn-huge{
    display:block;
    text-align:center;
    padding:14px 24px;
}
.eltdf-btn.eltdf-btn-icon>i,.eltdf-btn.eltdf-btn-icon>span:not(.eltdf-btn-text){
    position:relative;
    display:inline-block;
    vertical-align:top;
    margin:0 0 0 4px;
    font-size:1.142857142857143em;
    line-height:inherit
}
.eltdf-btn.eltdf-btn-icon>i:before,.eltdf-btn.eltdf-btn-icon>span:not(.eltdf-btn-text):before{
    display:block;
    line-height:inherit;
}
.vc_column_container{
    top:64px;
}
.ion-ios-arrow-forward{
    font-size: 18px;
    top: 3px;
    padding-left: 12px;
    color: #ffffff;
}

@media (min-width: 1101px) and (max-width: 1300px) {
    .vc_col-md-6{
        width: 51%;
    }
}

@media (min-width: 994px) and (max-width: 1150px) {
    .videoheight{
        height: 90vh;
    }
    .wpb_wrapper>h2{
        line-height: 1.3;
        margin: 0 0 28px 0;
    }
    .vc_custom_1510044300171 h4 strong{
        display: inline-block;
        padding-bottom: 6px;
    }
    .vc_row-container-and-fluid{
        background:url('../../images/index-micshow-pad.jpg');
        background-size:cover;
        background-position: right top;
        padding: 0;
    }
    .vc_row-container-and-fluid1{
        background:url('../../images/index-marry.jpg');
        background-size:cover;
        background-position: left center;
        padding: 0;
    }
    .vc_row-container-and-fluid2{
        background:url('../../images/index-Interaction-pad.jpg');
        background-size:cover;
        background-position: center;
        padding: 0;
    }
}

@media(max-width: 993px){
    .eltdf-btn.eltdf-btn-simple:hover .eltdf-btn-cover,.eltdf-call-to-action-holder,.eltdf-call-to-action-holder.eltdf-normal-layout:not(.eltdf-content-in-grid) .eltdf-cta-inner,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-button-holder,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-text-holder{
        left:0;
        width:100%;
        opacity: 1;
    }
    .eltdf-btn.eltdf-btn-simple:active .eltdf-btn-cover,.eltdf-call-to-action-holder,.eltdf-call-to-action-holder.eltdf-normal-layout:not(.eltdf-content-in-grid) .eltdf-cta-inner,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-button-holder,.eltdf-call-to-action-holder.eltdf-simple-layout .eltdf-cta-text-holder{
        left:0;
        width:100%;
        background-color:#FEC766;
        opacity: 1;
        transition:none;
    }
}

@media (min-width: 768px) and (max-width: 993px) {
    .videoheight{
        height: 64vh;
    }
    .line{
        left: 64px;
    }
    .line>h4{
        margin-top: 10px;
    }
    .vc_column_container>.vc_column-inner{
        padding-left: 132px;
        padding-right: 288px;
    }
    .vc_row-container-and-fluid{
        background:url('../../images/index-micshow-pad.jpg');
        background-size:cover;
        background-position: right center;
        padding: 0;
    }
    .vc_row-container-and-fluid1{
        background:url('../../images/index-marry.jpg');
        background-size:cover;
        background-position: left center;
        padding: 0;
    }
    .vc_row-container-and-fluid2{
        background:url('../../images/index-Interaction-pad.jpg');
        background-size:cover;
        background-position: right top;
        padding: 0;
    }
    .vc_col-md-6{
        width: 100%;
    }
    .wpb_wrapper>h2{
        line-height: 1.3;
        margin: 0 0 24px 0;
    }
    .vc_custom_1510044300171 h4 strong{
        display: inline-block;
        padding-bottom: 6px;
        opacity: 1;
    }
}

@media (min-width: 768px) and (max-width: 790px) {
    .vc_column_container>.vc_column-inner{
        padding-right: 256px;
    }
}

@media (max-width: 767px) {
    .scroll-line::before{
        width: 1px;
    }
    .line{
        left: 40px !important;
        top:40px;
    }
    .vc_column_container{
        top: 56px;
    }
    .vc_column_container>.vc_column-inner{
        padding-left: 106px !important;
        padding-right: 88px !important;
    }
    .vc_row-container-and-fluid>.container{
        background: rgba(34, 47, 98, 0.4);
    }
    .vc_row-container-and-fluid1>.container,.vc_row-container-and-fluid2>.container{
        background: rgba(34, 47, 98, 0.65);
    }
    .vc_row-container-and-fluid2>.container{
        background: rgba(34, 47, 98, 0.6);
    }
    .vc_row-container-and-fluid{
        background:url('../../images/index-micshow-phone.jpg');
        background-size:cover;
        background-position: right center;
        padding: 0;
    }
    .vc_row-container-and-fluid1{
        background:url('../../images/index-marry-phone.jpg');
        background-size:cover;
        background-position: center bottom;
        padding: 0;
    }
    .vc_row-container-and-fluid2{
        background:url('../../images/index-Interaction-pad.jpg');
        background-size:cover;
        background-position: right top;
        padding: 0;
    }
    .vc_row-container-and-fluid>.container{
        padding: 88px 0 104px 0 !important;
    }
    .vc_custom_1510044300171{
        margin-bottom: 0px;
    }
    .eltdf-btn.eltdf-btn-simple .eltdf-btn-cover{
        width: 47px;
    }
    .eltdf-btn.eltdf-btn-simple{
        padding: 16px 20px 19px 20px;
    }
    .eltdf-btn-text{
        font-size: 12px;
    }
    .ion-ios-arrow-forward{
        font-size: 16px;
        top:2px;
    }
    .vc_custom_1510044300171 h4 strong{
        display: inline-block;
        padding-bottom: 6px;
    }
    .wpb_wrapper>h2{
        margin: 0 0 24px 0;
        line-height: 1.3;
    }
    .vc_custom_1510044300171 h4{
        margin: 0 0 32px 0;
    }

}

@media (min-width: 600px) and (max-width: 767px) {
    .videoheight{
        height: 48vh;
    }
}
@media (min-width: 500px) and (max-width: 766px) {
    .line{
        left: 64px;
    }
    .line>h4{
        margin-top: 10px;
    }
    .vc_row-container-and-fluid>.container{
        padding: 104px 0 !important;
    }
    .vc_column_container>.vc_column-inner{
        padding-left: 132px;
        padding-right: 132px;
    }
    .vc_row-container-and-fluid{
        background:url('../../images/index-micshow-pad.jpg');
        background-size:cover;
        background-position:right top;
        padding: 0;
    }
    .vc_row-container-and-fluid1{
        background:url('../../images/index-marry.jpg');
        background-size:cover;
        background-position: left center;
        padding: 0;
    }
    .vc_row-container-and-fluid2{
        background:url('../../images/index-Interaction-pad.jpg');
        background-size:cover;
        background-position: right top;
        padding: 0;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .videoheight{
        height: 42vh;
    }
    .wpb_wrapper>h2{
        margin: 0 0 26px 0;
    }
}

@media (max-width: 590px) {
    .line{
        left: 54px;
    }
    .vc_column_container>.vc_column-inner{
        padding-left: 120px;
        padding-right: 120px;
    }
    .vc_row-container-and-fluid>.container{
        background: rgba(34, 47, 98, 0.5);
    }
    .vc_row-container-and-fluid1>.container,.vc_row-container-and-fluid2>.container{
        background: rgba(34, 47, 98, 0.65);
    }
    .vc_row-container-and-fluid2>.container{
        background: rgba(34, 47, 98, 0.6);
    }
}

@media (max-width: 499px) {
    .wpb_wrapper>h2{
        margin: 0 0 20px 0;
    }
    .eltdf-st-button{
        margin-top: -6px;
    }
}

@media (min-width: 450px) and (max-width: 499px) {
    .videoheight{
        height: 38vh;
    }
}

@media (min-width: 414px) and (max-width: 449px) {
    .videoheight{
        height: 36vh;
    }
}

@media (max-width: 413px) {
    .videoheight{
        height: 36vh;
    }
}